* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Titillium Web", sans-serif;
}

.overflow-visible {
    overflow: visible;
}

.products-main-text{
    margin-top: 15px;
    text-align: center;
    color: #29335c;
}

.products-list_img {
    border-radius:50%;
    width:10vmin;
    height:10vmin;

}

.products-is-expired {
    color: red;
}

.products-is-expiring-soon {
    color: orange;
}

.products-is-valid {
    color: green;
}

.products-no-date {
    color : rgb(128, 128, 128);
}

.products-item-row {
    position: relative;
}
.products-item-row:hover {
    filter: blur(5px);
    z-index: 1;
}

.products-item-content {
    width: 0;
    padding: 0;
}

.products-item-row .products-item-actions {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; /* Masque les boutons par défaut */
    transition: opacity 0.3s ease; /* Ajoute une transition fluide lors du passage de la souris */
}

.products-item-row:hover .products-item-actions {
    opacity: 1; /* Affiche les boutons lorsque la souris survole */
    z-index: 10;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead th {
    background: lightgray;
    text-align: left;
    border-bottom: 2px solid black;
}

thead button {
    border: 0;
    border-radius: 0;
    font-family: inherit;
    font-weight: 700;
    font-size: inherit;
    padding: 0.5em;
    margin-bottom: 1px;
    background: lightgray;
}

thead button.ascending::after {
    content: '👇';
    display: inline-block;
    margin-left: 1em;
}

thead button.descending::after {
    content: '☝️';
    display: inline-block;
    margin-left: 1em;
}

tbody td {
    padding: 0.5em;
    border-bottom: 1px solid #ccc;
}

tbody tr:hover {
    background-color: #eee;
}



.products-filter-container {
    margin: 20px;
    text-align: center; /* Centrer la liste déroulante si le conteneur est en pleine largeur */
}

.products-filter-container select {
    padding: 10px;
    margin-right: 10px; /* Ajouter de l'espace autour de la liste déroulante */
    background-color: white;
    border: 1px solid #ddd; /* Ajouter une bordure légère à la liste déroulante */
    border-radius: 4px; /* Arrondir les coins de la bordure pour un look plus doux */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ajouter une ombre subtile pour un effet de profondeur */
    font-size: 1rem; /* Taille de police standard pour la lisibilité */
    cursor: pointer; /* Indiquer que la liste déroulante est cliquable */
}

/* Style pour les options à l'intérieur de la liste déroulante */
.products-filter-container option {
    padding: 10px; /* Ajouter du padding pour rendre les options plus accessibles */
}


/* Vous pouvez ajouter des médias queries pour rendre le conteneur réactif */
@media (max-width: 768px) {
    .products-filter-container {
        margin: 10px;
    }
    .products-filter-container select {
        width: auto; /* Adapter la largeur sur les écrans plus petits */
    }
}
