* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Titillium Web", sans-serif;

}

.home-main-text{
    text-align: center  !important;
    color: #29335c  !important;
    font-weight: bold;
}

.home-secondary-text{
    text-align: center  !important;
    color: #29335c  !important;
    font-weight: bold;
}

.home-bottom {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}

.home-main-img{
    border-radius: 50%;
    width: 80%;
    max-width: 400px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 30px;
}

