* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Titillium Web", sans-serif;

}

p {
    margin-top: 30px;
    text-align: center;
    color: #29335c;
    font-weight: bold;
}

P.RequiredText{
    margin-top: 30px;
    text-align: left;
    color: #29335c;
    font-weight: lighter;
    font-size: small;
}

.DialogContent p {
    margin-top: 30px;
    text-align: center;
    color: #29335c;
    font-weight: bold;
}

video {
    max-width: 40%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: block;
}

