.MainImgRegister {
    border-radius: 50%;
    width: 80%;
    max-width: 400px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 30px;
}

.btn-img-register {
    margin: 6px 6px;
    font-size: 1.5rem;
    float: left;
}

.register-container {
    margin-bottom: 6px;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1000px) {
    .MainImgRegister {
        width: 0%; /* Vous pouvez ajuster la taille selon vos besoins */
        max-width: none; /* Supprimez la limite de largeur maximale si nécessaire */
        margin-top: 0px; /* Ajustez la marge supérieure selon vos besoins */
    }
}