.login-main-form {
    margin-top: 2.5rem;
    padding-right: 3rem;
    padding-left: 3rem;
}

.login-text-note{
    margin-top: 1rem;
    font-size: small;
}

.login-main-img {
    border-radius: 50%;
    width: 80%;
    max-width: 400px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 0.5rem;


}

@media screen and (max-width: 768px) {
    .login-main-img {
        width: 0; /* Vous pouvez ajuster la taille selon vos besoins */
        max-width: none; /* Supprimez la limite de largeur maximale si nécessaire */
        margin-top: 15px; /* Ajustez la marge supérieure selon vos besoins */
    }
    .login-main-form {
        margin-top: 1rem;
        padding-right: 3rem;
        padding-left: 3rem;
    }
}


@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}